body {
  font-size:16px;
}


.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#top.jumbotron {
  background: url("images/yatta_header.png") no-repeat;
  height: 1000px;
  background-size: cover;
}

#top.jumbotron .container {
  position: relative;
  display: block;
}

#top.jumbotron h1 {
  color: white;
  font-size: 780.0%;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 130.0%;
  color: #fff;
}

.jumbotron a {
  font-size: 160.5%;
  color: #00b0ff;
}

.learn-more {
  background-color: #f7f7f7;
  /* padding: 25px; */
}

.learn-more .container {
  width: 100%;
  padding: 0px;
  
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;

  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.learn-more img {
  
}

.max {
  width: 100%;
}

#title {
  min-height: 400px;
  position: relative;
  padding: 50px;
  
}

#title h3 {
  font-size: 600.0%;
}

#title p {
  font-size: 150.0%;
}

#detail {
  position: relative;
  padding: 10px;
}

#detail h3 {
  font-size: 200.0%;
}

#detail p {
  font-size: 110.0%;
}

.footnote {
     position: relative;
     font-size:12px;
     padding: 12px;
}

.form-horizontal {
  width: 50%;
}
